*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.maincontainer{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    width: 45vw;
    height: 45vh;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub{
    width: 10%;
    height:10%;
    /* background-color:black; */
    border-radius: 50%;
    transition: 0.4s ease;
}
.sub-container-1{
    background-color: red;
    animation-name:color ;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}
.sub-container-2{
    background-color: yellow;
    animation-name:color ;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 1.6s;
}
.sub-container-3{
    background-color: darkgreen;
    animation-name:color ;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 1.7s;
}
.sub-container-4{
    background-color: blue;
    animation-name:color ;
    animation-timing-function:ease;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
}
 @keyframes color {
    0%{

    }
    50%{
        transform:translatey(20px);

    }

}